@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
	--font-sans: 'Inter', sans-serif;

	/* Main Background */
	--color-dark-900: #0f172a;
	
	/* Cards Background */
	--color-dark-800: #1e293b;

	/*Footer Background*/
	--color-darker: #0d1424;

	/* Main Blue */
	--color-brand-500: #3b82f6;
	
	/* Hover Blue */
	--color-brand-600: #2563eb;
	

	/* Animation to be used for the background (optional) */
	--animate-glow: glow 2s ease-in-out infinite alternate;

	@keyframes glow {
		from {
			box-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6;
		}

		to {
			box-shadow: 0 0 20px #3b82f6, 0 0 30px #3b82f6;
		}
	}
}

/* Utility for blue glow */
.shadow-glow {
	box-shadow: 0 0 40px -10px rgba(59, 130, 246, 0.5);
}